{% extends "base.html" %}
{% load static %}
{% block content %}
   <h1>This is home Page..</h1>
   <div class="container">
        <div class="row">
                <div class="col-6 bg-primary">
                    <h1>Welcome to X-Restuarent........!</h1>
                    <h3>Opening everyday from 8-12 pm</h3>
                </div>
                <div class="col-6" >
                    <img class="img-fluid" src="{% static "food.jpg" %}" alt="food image">
                </div> 
        </div>
    </div>
{% endblock content %}